/*
This is the CSS code for The Open2 Engine "Bookworm"
*/

body {
    margin-bottom: 50px;
}

.light {
    color: black;
    background-color: white;
}

.dark {
    color: lightgrey;
    background-color: black;
}

.passage {
    display: none;
}

.BtnBackToLoad {
    float: right;
    clear: left;
    margin-top: 10px;
}

.BtnNotes {
    float: left;
}

#display {
    margin-bottom: 20px;
}

#txtDocumentNotes{
    clear: both;
}

#btnLoadNotes {
    clear: left;
}

#txtDocumentNotes {
    width: 95%;
}