/*
This is the CSS code for The Open2 Engine "Bookworm"
*/

.passage {
    display: none;
}

.BtnBackToLoad {
    float: right;
    clear: left;
    margin-top: 10px;
}

.BtnNotes {
    float: left;
}

#tabs {
    min-height: 600px;
}

#display {
    margin-bottom: 20px;
}

#txtDocumentNotes{
    clear: both;
}

#btnLoadNotes {
    clear: left;
}